__pycache__/
*.py[cod]
.venv/
build/
dist/
*.spec
*.wav
*.mid
*.bin
*.tsv
*.trace
*.txt
!LICENSE
!README.md
!WINDOWS_BUILD.md
!requirements-windows.txt
!requirements-windows-x86.txt
!requirements.txt
